<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Dashboard | User</title>
</head>
<body>
    <nav class="navbar nav-black">
        <div class="nav-brand">
            <a class="nav-brand-name">Mini Store</a>
        </div>
        <div class="user-icon">
            <span class="user-status">Active</span>
        </div>
        <div class="user-info" onclick="showMenu()">
                <i class="fa fa-user fa-lg"></i>
        </div>
        <ul class="nav-menu menu-mobile">
            <li><a href="#" class="nav-menu-items"><i class="fa fa-home fa-lg">&nbsp; Home</i></a></li>
            <li><a href="#store" class="nav-menu-items"><i class="fa fa-shopping-basket fa-lg">&nbsp; Store</i></a></li>
            <li><a href="#about" class="nav-menu-items"><i class="fa fa-search fa-lg">&nbsp; About</i></a></li>
            <li><a href="#contact" class="nav-menu-items"><i class="fa fa-phone fa-lg">&nbsp; Contact</i></a></li>
        </ul>
        <div class="user-detail">
            <a href="/" class="user-option"><i class="fa fa-file">&nbsp;profile</i></a>
            <a href="/" class="user-option"><i class="fa fa-gear">&nbsp;settings</i></a>
            <a href="/" class="user-option"><i class="fa fa-sign-out">&nbsp;Logout</i></a>
        </div>

        <!-- <section class="section-user-detail">
            
        </section> -->
    </nav>
    <script>
        var stat = "<%=data%>"; 
        window.onload = function () {
            let status = document.getElementsByClassName('user-status');
            let dash = document.getElementsByClassName('user-detail');
            dash[0].style.display = 'none';

            if(stat) {
                status[0].innerHTML = stat;
            }
        }

        function showMenu() {
            let dash = document.getElementsByClassName('user-detail');
            let menu = document.getElementsByClassName('user-info');

            if(dash[0].style.display === 'none') {
                dash[0].style.display = 'block';
            } else {
                dash[0].style.display = 'none';
            }
        }
    </script>
</body>
</html>