<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>MINISTORE | REGISTER</title>
</head>
<body>
    <div class="form-main">
        <form class="from-details" action="/account/register" method="post">
            <label for="name">Enter name : </label>
            <input id="name" type="text" placeholder="Enter your name" name="register[name]">
            <label for="age">Enter Age : </label>
            <input id="age" type="text" placeholder="Enter your age" name="register[age]">
            <label for="phone">Enter Phone no : </label>
            <input id="phone" type="number" placeholder="Enter your phone number" name="register[phone]">
            <label for="email">Enter Email : </label>
            <input id="email" type="email" placeholder="Enter your email" name="register[email]">
            <label for="password">Enter Password : </label>
            <input id="password" type="password" placeholder="*******" name="register[password]">
            <input class="form-submit-btn" type="submit" value="submit">
        </form>
    </div>
</body>
</html>